
<div>
    <h2><span>Task</span> <span>{{vm.task.name}}</span></h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Description</span></dt>
        <dd>
            <span>{{vm.task.description}}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
            <span>{{vm.task.status}}</span>
        </dd>
        <dt><span>Project</span></dt>
        <dd>
            <a ui-sref="project-detail({id:vm.task.project.id})">{{vm.task.project.name}}</a>
        </dd>
        <dt><span>Reporter</span></dt>
        <dd>
            <span>
                {{vm.task.reporter.firstName}} {{vm.task.reporter.lastName}}
            </span>
        </dd>
        <dt><span>Assignees</span></dt>
        <dd>
            <span ng-repeat="assignee in vm.task.assignees">
                {{assignee.firstName}} {{assignee.lastName}}{{$last ? '' : ', '}}
            </span>
        </dd>
        <dt><span>Comments</span></dt>
        <dd>
            <task-comments comments="vm.task.comments"></task-comments>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="project-detail"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="task-detail.edit({taskId:vm.task.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
