<div>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="taskCommentNew({taskID:$ctrl.task.id})" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Comment
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr>
                <th><span>Subject</span></th>
                <th><span>Description</span></th>
                <th><span data-translate="taskTrackerApp.comment.jhi_user">Author</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="comment in $ctrl.comments track by comment.id">
                <td>{{comment.subject}}</td>
                <td>{{comment.description}}</td>
                <td>
                    {{comment.jhi_user.firstName}} {{comment.jhi_user.lastName}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="commentEdit({commentId:comment.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-sm-down"></span>
                        </button>
                        <button type="submit"
                                ui-sref="commentDelete({commentId:comment.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <span class="hidden-sm-down"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
