<div>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="projectTaskNew({projectID:$ctrl.projectId})" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Task
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr>
                <th><span>Name</span></th>
                <th><span>Description</span></th>
                <th><span>Status</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="task in $ctrl.tasks track by task.id">
                <td>{{task.name}}</td>
                <td>{{task.description}}</td>
                <td>{{task.status}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="task-detail({taskId:task.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="hidden-sm-down"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
