
<div>
    <h2><span>Project</span> {{vm.project.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{vm.project.name}}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{vm.project.description}}</span>
        </dd>
        <dt><span data-translate="taskTrackerApp.project.jhi_user">User</span></dt>
        <dd>
            <span ng-repeat="jhi_user in vm.project.jhi_users">
                {{jhi_user.fullName}}{{$last ? '' : ', '}}
            </span>
        </dd>
        <dt><span>Tasks</span></dt>
        <dd>
            <project-tasks tasks="vm.currentTasks" projectId="vm.project.id"></project-tasks>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="project"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="project-detail.edit({projectId:vm.project.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>

    <label class="btn btn-success active">
        <input type="checkbox" ng-change="vm.filterTasks(vm.isTasksFiltered)" ng-model="vm.isTasksFiltered" />
        <span>Click o filter tasks</span>
    </label>

</div>
