
<div>
    <h2><span>Comment</span> {{vm.comment.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Subject</span></dt>
        <dd>
            <span>{{vm.comment.subject}}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{vm.comment.description}}</span>
        </dd>
        <dt><span>Task</span></dt>
        <dd>
            <a ui-sref="task-detail({id:vm.comment.task.id})">{{vm.comment.task.id}}</a>
        </dd>
        <dt><span data-translate="taskTrackerApp.comment.jhi_user">Jhi User</span></dt>
        <dd>
            {{vm.comment.jhi_user.login}}
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="comment-detail.edit({id:vm.comment.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
