<div ng-cloak>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>Welcome!</h1>
            <p class="lead">This is task tracker home page.</p>

            <div ng-switch="vm.isAuthenticated()">
                <div class="alert alert-success" ng-switch-when="true">
                    <span>You are logged in as user "{{vm.account.login}}".</span></br>
                    <span><a ui-sref="project"> To start working with projects click this message.</a></span></br>
                    <span>Or Project tab at navbar menu.</span>
                </div>

                <div class="alert alert-warning" ng-switch-when="false">
                    <a class="alert-link" href="" ng-click="vm.login()">Sign in</a>, if you have an account already.
                </div>

                <div class="alert alert-warning" ng-switch-when="false">
                    You don't have an account yet? <a class="alert-link" ui-sref="register">Register a new account.</a>
                </div>
            </div>
        </div>
    </div>
</div>
